.main {
  background: rgb(7, 45, 79);
  background: linear-gradient(90deg,
      rgba(7, 45, 79, 1) 46%,
      rgba(5, 25, 46, 1) 100%);
}

.head {
  display: inline-block;
  background: #063e70;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.headOne {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}

.cardPic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.cardPic1 {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.cardPic2 {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.textOne {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.textTwo {
  font-size: 12px;
  color: #000;
}

.textThree {
  font-size: 25px;
  color: #0788ff;
  font-weight: 700;
}

.book {
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  width: 80%;
  height: 300px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  text-align: center;
  color: #000;
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 0px 40px;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}


.card {
  position: relative;
  width: 100%;
  height: 254px;
  background: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a9f4, #ff0058);
  filter: blur(30px);
}

.card b {
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.card img {
  position: absolute;
  z-index: 3;
  scale: 0.9;
  opacity: 0.9;
  transition: 0.5s;
}

.card:hover img {
  scale: 0.5;
  opacity: 0.5;
  transform: translateY(-70px);
}

.card .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}

.card:hover .content {
  transform: scale(1);
  bottom: 25px;
}

.content .title {
  position: relative;
  color: #fff;
  font-weight: 500;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}


@media (min-width: 768px) and (max-width: 988px) {
  .card {
    margin-bottom: 20px;
  }
}

@media (min-width: 575.98px) and (max-width: 767px) {}

@media (min-width: 320px) and (max-width: 575px) {
  .card {
    margin-bottom: 20px;
  }
}